.part1 img{
  width:100%;
}
.part1{
  position:relative;
}
.part1 .text{
  position:absolute;
  top:15%;
  left:5%;
  width:35%;
}
.part1 .text p{
 color:#fff;
  font-size:48px;
}
.part1 .content{
  margin-top:34px;
  font-size:24px !important;
  line-height:36px;
}
